:root{
    --white-color: #fff;
    --text-color: #9a9a9a;
    --primary-color: #14b9d5;
}

*{
    box-sizing: inherit;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.6rem;
    font-size: 62.5%;
}

body{
    padding: 0;
    margin: 0;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes showFromLeft{
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes showFromRight{
    from{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}